@font-face {
  font-family: "Font";
  src: url("./JetBrainsMonoNerdFontMono-Regular.ttf");
}

body {

	font-family: Font;

	background-color: rgb(30, 30, 30);
}

h1 {

	/* color: rgb(250, 179, 135); */

	color: #cba6f7;

	margin: 1.5vh 0;
}

.date {

	color: #89b4fa;

}

.section-heading {

	color: #b4befe;

	font-size: 23px;

	text-align: left;

	margin-left: 1vw;

}

.link {

	color: #89b4fa;

	text-decoration: none;

	margin: 6px 0;
}
.link:hover {

	color: #74c7ec;


	text-decoration: underline;
}

.body {

	height: 95vh;

	
	display: flex;

	justify-content: space-evenly;

	align-items: center;
}

.image {

	width: 512px;
}

.main-container {

	width: 25vw;

	display: flex;

	flex-direction: column;

	align-items: center;
}

.link-container {

	width: 100%;

	display: flex;


	flex-wrap: wrap;


	justify-content: space-evenly;

}

.link-section {

	display: flex;

	flex-direction: column;

	/* align-items: center; */

	margin-bottom: 3vh;

	width: 10vw;
}

.links {

	text-align: left;

}

.link {

	margin-left: 3vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}

